.tn {
  margin-top: 50px;
}
.tn {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
}
.tn {
  li {
    float: left;
  }
}
.tn {
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}
.tn {
  li a:hover {
    background-color: #111;
  }
}
.xanh {
  background-color: #04aa6d;
}
.td {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
}
.td {
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
}
.td {
  li a:hover {
    background-color: #555;
    color: white;
  }
}
.y {
  background-color: #f1f1f1;
  width: 200px;
  height: 800px;
  border: 1px solid #555;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 10px;
  border: none;
}
#h2 {
  font-weight: normal;
  margin-bottom: 5px;
}
.nd {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-30%, -50%);
  text-align: left;
}
#h1 {
  font-weight: normal;
  font-size: 50px;
}
.hn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
}

.hn a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #04aa6d;
  transition: 0.3s;
}
.next {
  margin-left: 50px;
}
.hn a:hover {
  background-color: #0a7c52ec;
}
.nd1 {
  background-color: #dff0d8;
  padding: 20px;
  padding-bottom: 5%;
  border-radius: 8px;
  width: 200%;
  max-width: 900px;
  text-align: left;
  margin-top: 1%;
}
.nd2 {
  padding: 20px;
  border-radius: 8px;
  width: 200%;
  max-width: 2000px;
  text-align: left;
}
.nut a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #04aa6d;
  transition: 0.3s;
}
.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 5%;
}
.menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(202, 105, 138);
  transition: 0.3s;
}
